<div class="container">
  <div class="row">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">New Event</h3>
        </div>
        <div class="card-block">

          <%= form_for @event, :url => my_events_path do |f| %>

            <% if @event.errors.any? %>
              <div class="alert alert-danger">
                <ul>
                  <% @event.errors.full_messages.each do |thing| %>
                    <li><%= thing %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :hero_image_url %>
              <%= f.text_field :hero_image_url, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :extended_html_description %>
              <%= f.text_area :extended_html_description, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :venue_id %>
              <%= f.select :venue_id,
                  options_from_collection_for_select(@venues, 'id', 'name', @event.venue_id),
                  {prompt: 'Select Menu'},
                  {class: 'form-control', required: true} %>
            </div>

            <div class="form-group">
              <%= f.label :category_id %>
              <%= f.select :category_id,
                  options_from_collection_for_select(@categories, 'id', 'name', @event.category_id),
                  {prompt: 'Select Menu'},
                  {class: 'form-control', required: true} %>
            </div>

            <div class="form-group">
              <label>Start - End</label>
              <div class="input-daterange input-group" id="datepicker">
                  <%= f.text_field :starts_at, class: "form-control" %>
                  <span class="input-group-addon">to</span>
                  <%= f.text_field :ends_at, class: "form-control" %>
              </div>
            </div>

            <div class="form-actions">
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
          <% end %>

        </div>
      </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.input-daterange').datepicker({
      format: "yyyy-mm-dd",
      startDate: "<%= Date.current() %>"
    });
  });
</script>
